# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# FastAPI / Uvicorn
*.log

# SQLite
*.sqlite3
